:root{
    /*color palette*/
    --cream: #feffed; /*keep*/
    --lighter: #e6d9e0; /*keep*/
    --medium: #bd805c; /*keep*/
    --dark: #4e392c; /*keep*/
    --darkbrown:  #140d07; /*keep*/
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: var(--darkbrown);
    overflow-x: none;
}


h1{
    font-family: "shrikhand", serif;
    font-size: 60px;
    font-weight: 500;
}

h2{
    font-family: "shrikhand", serif;
    font-size: 30px;
    font-weight: 500;
}

h3{
    font-family: "shrikhand", serif;
    font-size: 20px;
    font-weight: 500;
}

h4{
    font-family: "shrikhand", serif;
    font-size: 18px;
    font-weight: 500;
}

p{
    font-family: "poppins", sans-serif;
    font-size: 16px;
}

a{
    font-family: "poppins", sans-serif;
    font-size: 14px;
}

header{
    margin: 0 auto;
    height: 80vh;
    width: 100%;
}

/*top nav bar*/

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    align-content: center;
    z-index: 1040;
    width: 100%;
}


.navbar-brand .logo {
    height: auto;
    max-height: 45px;
    width: auto;
    margin-left: 25px;
}


.bg-custom {
    background-color: var(--cream);
}

.navbar-toggler{
    border: 0px;
}


.navbar-nav .nav-link {
    color: var(--darkbrown) !important;
    font-size: 16px;
    padding: 5px 0px;
    position: relative;
    display: inline-block;
    margin: 10px;
}

.navbar-collapse{
    justify-content: flex-end;
}

.navbar-nav .nav-link:hover {
    color: var(--medium);
}

.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 0;
    height: 1.5px;
    background-color: var(--darkbrown);
    transform: translateX(-50%);
    transition: width 0.3s ease, background-color 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
    background-color: var(--medium);
}

/*Cart*/

.bag-icon{
    height: 25px;
    width: auto;
    padding: 0;
    background-color: none;
    transition: all 0.3s ease;
}

.cart-btn{
    background-color: var(--cream);
    margin-right: 20px;
    border: none;
    transition: all 0.3s ease;
    transform: scale(1.1);
}

nav button.cart-btn:hover{
    background-color: var(--lighter);
    transform: scale(1.1);
}

nav button img.bag-icon:hover{
    transform: scale(1.1);
}

.sum-prices {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.carrito {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overscroll-behavior: contain;
    background-color: var(--medium);
    width: 300px;
    height: 100%;
    color: var(--cream);
    z-index: 1050;
    position: fixed;
    top: 0;
    right: 0;
    text-align: center;
    animation: fade 1s;
}

.offcanvas-header{
    color: var(--cream);
}


.hidden{
    display: none;
    visibility: none;
}


.carrito ul {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.carrito .top {
    display: flex;
    background-color: #616161;
    text-align: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
    width: 100%;
}

.carrito .empty {
    justify-self: center;
    margin: 150px auto;
}

.carrito .buyItem {
    border-bottom: var(--lighter) 1px solid;
    width: 90%;
    padding: 10px 0;
    display: flex;
}

.buyItem button {
    background: transparent;
    color: var(--cream);
    cursor: pointer;
    font-weight: 900;
    font-size: 1.5rem;
    padding: 0 7px;
    border: none;
}

.buyItem button:active {
    color: var(--dark);
}

.buyItem > div {
    padding: 0 20px;
}

#qty-buttons{
    display: flex;
    align-items: center;
    justify-content: center;

}

p .qty{
    background-color: var(--lighter);
    padding: 2px;
}

#checkout-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 500px;
    background-color: var(--cream);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 20px;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

#thank-you img {
    width: 100px;
    display: block;
    margin: 0 auto;
}

#thank-you{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

#modal-product-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#modal-product-list li {
    margin-bottom: 10px;
}

.checkout-content {
    background-color: var(--cream);
    padding: 20px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.checkout{
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--darkbrown);
        color: var(--cream);
        text-decoration: none;
        padding: 5px 15px;
        margin-top: 8px;
        border-radius: 20px;
        border: none;
        font-size: small;
        overflow: hidden;
        font-family: "Poppins", sans-serif;
        font-size: 13px;
}

.checkout:hover{
    background-color: var(--cream);
    color: var(--darkbrown);
}

#confirm-purchase-btn{
    background-color: var(--medium);
        color: var(--cream);
        text-decoration: none;
        padding: 5px 15px;
        margin: 8px 8px 0 0;
        border-radius: 20px;
        border: none;
        font-size: small;
        overflow: hidden;
        font-family: "Poppins", sans-serif;
        font-size: 13px;
}

#confirm-purchase-btn:hover{
    background-color: var(--darkbrown);
}

#cancel-checkout-btn{
    background-color: var(--dark);
        color: var(--cream);
        text-decoration: none;
        padding: 5px 15px;
        margin: 8px 8px 0 0;
        border-radius: 20px;
        border: none;
        font-size: small;
        overflow: hidden;
        font-family: "Poppins", sans-serif;
        font-size: 13px;
}

#cancel-checkout-btn:hover{
    background-color: var(--darkbrown);
}


/*beginning of hero banner*/

.hero-banner{
    height: 90%;
    width: 100%;
    background-image: url("../images/serving.png");
    position: right;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(189, 128, 92, 0.7);
}


.hero-content{
    padding: 130px 200px;
}


.hero-banner p{
    font-size: large;
    border-top: 0;
    color: var(--cream);
    margin-bottom: 10px;
    margin-top: 0;
    padding-top: 0;
}

.hero-banner a{
    width: fit-content;
    display: block;
    padding: 5px 15px;
    border-radius: 15px;
    background-color: var(--darkbrown);
    color: var(--cream);
    text-decoration: none;
}

.hero-banner a:hover{
    background-color: var(--cream);
    color: var(--darkbrown);
}

/*beginning of product cards*/

.productos{
    text-align: center;
    width: 100%;
}

.products-title{
    padding: 50px 1px 0 1px;
    position: relative;
    display: inline-block;
    width: fit-content;
}

.products-title::after {
content: '';
position: absolute;
bottom: 0;
left: 50%;
width: 0;
height: 2px;
background-color:var(--darkbrown);
transform: translateX(-50%);
transition: width 0.3s ease;
}

.products-title:hover::after {
width: 100%;
}


.products{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10%;
}


.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 190px;
    height: auto;
    margin: 2em 0 5em 0;
    padding: 5px;
    background-color: var(--medium);
    border-radius: 10px;
    overflow: hidden;
}

figure.product-image{
    margin: 10px;
    overflow: hidden;
}

img{
    display: block;
    border: 0;
    width: 210px;
    height: auto;
}

.card-content{
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    align-items: center;
    margin-top: 0px;
}

.card-content h3{
    font-weight: normal;
    margin-top: 0;
    margin-bottom: .3em;
    overflow: hidden;
}

.card-content p.price{
    padding: 0;
    margin: 0;
}


.card-content button.buy-btn{
    background-color: var(--darkbrown);
    color: var(--cream);
    text-decoration: none;
    padding: 5px 15px;
    margin-top: 8px;
    border-radius: 20px;
    border: none;
    font-size: small;
    overflow: hidden;
    font-family: "poppins", sans-serif;
    font-size: 13px;
}

.card-content button.buy-btn:hover{
    background-color: var(--cream);
    color: var(--darkbrown);
}

.card-content button.description-btn{
    background-color: inherit;
    font-family: "poppins", sans-serif;
    font-size: 13px;
    padding: 5px;
    margin: 5px 0 0 0;
    border: none;
}

.card-content button.description-btn:hover{
    color: var(--cream);
    position: relative;
    display: inline-block;
    width: fit-content;
}

.card-content p.card-description{
    display: none;
    text-align: left;
    font-size: 13px;
    padding-top: 5px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}


/*beginning of reviews section*/


#reviews{
    height: 90%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 3fr 3fr 3fr;
    margin-top: 30px;
    column-gap: 0px;
    border-top: 1px var(--darkbrown) solid;
}

.reviews-main-image{
    grid-row: 1 / span 4;
    background-image: url("../images/handsincup.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--cream);
}

.reviews-title{
    justify-self: center;
    padding-top: 50px;
    margin-bottom: 50px;
}

.review-card{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--medium);
    justify-content: center;
    align-items: center;
}

.review-card:nth-of-type(2){
    flex-direction: row-reverse;
    background-color: var(--cream);
}

.review-card img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 2px solid var(--darkbrown);
}

/*beginning of roasts section*/


#roasts{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 50px 0;
    background-color: var(--cream);
}

#roasts h2{
    padding-bottom: 20px;
}

.roast-card{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5px;
    padding: 35px 0 25px 0;
    width: 80%;
    background-color: rgba(189, 128, 92, 0.7);
}

.roast-card:nth-of-type(2){
    flex-direction: row-reverse;
}

.roast-card img{
    height: 32%;
    width: 42%;
    margin: 0 2%;
}

.roast-card-content{
    width: 50%;
}

.roast-card-content h2{
    padding-bottom: 10px;
}

/*beginning of contact section*/

#contacto{
    background-color: var(--dark);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

#contacto figure{
    height: 300px;
    width: auto;
    margin-top: 30px;
}

#contacto label{
    color: var(--cream);
    font-family: "poppins", sans-serif;
    font-size: 16px;
}

#contacto h2{
    color: var(--cream);
    padding: 10px 0;
    text-align: center;
}

input{
    width: 30vw;
    margin: 5px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid var(--lighter);
    font-family: "poppins", sans-serif;
    font-size: 12px;
}

textarea{
    width: 30vw;
    margin: 5px;
    resize: none;
    height: 70px;
    border-radius: 10px;
    padding: 8px;
}

input[type="submit"] {
    background-color: var(--medium);
    color: var(--darkbrown);
    font-family: "poppins", sans-serif;
    font-size: 16px;
    width: 30vw;
    padding: 8px;
    margin-top: 10px;
}

input[type="submit"]:hover{
    background-color: var(--darkbrown);
    color: var(--cream);
}

/*beginning of footer*/

footer{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 0;
    background-color: var(--cream);
}

footer img{
    height: 150px;
    width: 160px;
    margin-left: 50px;
}

#footer-nav li a{
    display: inline-block;
    width: auto;
    margin: 10px 15px;
    color: var(--darkbrown);
    text-decoration: none;
    font-size: 16px;
    color: var(--darkbrown);
    position: relative;
    transition: color 0.3s ease;
}

#footer-nav li a:hover{
    color: var(--medium);
}


#footer-nav li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1.5px;
    background-color:var(--darkbrown);
    transform: translateX(-50%);
    transition: width 0.3s ease, background-color 0.3s ease;
}

#footer-nav li a:hover::after {
    width: 100%;
    background-color: var(--medium);
}


.social-media{
    display: flex;
}

.social-media img{
    height: 20px;
    width: 20px;
    text-align: left;
    margin: 10px 10px 5px 0;
}

.about{
    margin-right: 10px;
}

.copy{
    background-color: var(--darkbrown);
    width: 100%;
    height: fit-content;
    margin: 3px 0 0 0;
}

.copy p{
    color: var(--cream);
    text-align: center;
    font-size: 10px;
    font-weight: 300;
    padding: 3px 0;
}

/*promo banner*/

#promo-banner{
    height: 50%;
    width: 100%;
    background-color: var(--dark);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.promo-image img{
    height: 180px;
    width: 180px;
}

#promo-banner h2{
    color: var(--cream);
}


#promo-banner p{
    font-size: large;
    border-top: 0;
    color: var(--cream);
    margin-bottom: 10px;
    margin-top: 0;
    padding-top: 0;
}

.promo-content{
    text-align: center;
}


@media only screen (min-width: 600px) and (max-width: 1023px){
    
    body{
        overflow-x: hidden;
    }

    
    img{
        width: 180px;
    }
    
    
    .products{
        gap: 5%;
    }
    
    .card{
        width: 150px;
    }

    .card-content h3{
        font-size: 16px;
    }

    .card-content a{
        font-size: 12px;
    }

    #reviews{
        grid-template-columns: 1fr;
        height: auto;
    }
    
    .reviews-main-image{
        display: none;
    }
    
    .review-card{
        padding: 25px;
        align-items: center;
    }

    .review-card img{
        height: 90px;
        width: 90px;
    }

    .roast-card-content{
        width: 40%;
    }

    #promo-banner{
        justify-content: center;
    }

    .promo-content{
        text-align: center;
    }
    

}


    @media only screen and (max-width: 599px){

        body{
            overflow-x: hidden;
        }


        #hero-home{
            height: 80vh;
            width: 100%;
            background-image: url('../images/Brown_Beige_Circle_Coffee_Shop_Logo-removebg-preview.png');
            background-color: rgba(189, 128, 92, 0.7);
            background-position: center center;
            background-size: 80%;
            background-repeat: no-repeat;
        }

        .hero-content{
            display: none;
        }

        #hero-products{
            height: 65vh;
            width: 100%;
            background-color: rgba(189, 128, 92, 0.7);
            background-size: 80%;
            background-image: none;
        }

        #hero-content-products{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 120px 0;
        }

        .products{
            display: flex;
            flex-direction: column;
        }

        .products-title{
            margin-top: 40px;
        }

        .card{
            margin: 10px;
        }

        .card h3{
            font-size: 20px;
        }

        .reviews-title{
            padding-bottom: 10px;
            margin-bottom: 10px;
        }

        #reviews{
            grid-template-columns: 1fr;
            height: auto;
        }
        
        .reviews-main-image{
            display: none;
        }
        
        .review-card{
            padding: 25px;
            align-items: center;
        }
    
        .review-card img{
            height: 90px;
            width: 90px;
        }
    
        .roast-card-content{
            width: 40%;
        }

        #roasts h2{
            padding-bottom: 20px;
        }
        
        .roast-card{
            display: flex;
            flex-direction: column;

            padding: 35px 0;
        }
        
        .roast-card:nth-of-type(2){
            flex-direction: column;
        }
        
        .roast-card img{
            height: 40%;
            width: 50%;
            margin: 0 2%;
        }
        
        .roast-card-content{
            width: 80%;
        }
        
        .roast-card-content h2{
            padding-bottom: 10px;
            font-size: 25px;
            text-align: center;
        }

        .roast-card-content p{
            font-size: 14px;
        }

        #contacto{
            justify-content: center;
        }

        #contacto figure{
            display: none;
        }        

        input{
            width: 70vw;
        }
        
        textarea{
            width: 70vw;
        }
        
        input[type="submit"] {
            font-size: 14px;
        }

        #promo-banner{
            justify-content: center;
        }
    
        .promo-content{
            text-align: center;
        }

        footer{
            grid-template-rows: auto, 1fr;
            grid-template-columns: 1fr 1fr;
        }
        
        footer img{
            height: 80px;
            width: 85px;
            margin: 0px 15px 20px 15px;
        }
        
        #footer-nav{
            padding: 0px 10px;
        }
        
        .social-media img{
            height: 20px;
            width: 20px;
            margin: 15px 10px 5px 0;
        }
        
        .about{
            margin: 25px 15px 10px 15px;
            grid-column: 1 / span 2;
        }

        .about p{
            font-size: 14px;
        }    


}
